@use "variables" as *;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

// Botones Modernos
.button,
button {
    height: 5rem;
    padding: 0 3rem;
    line-height: 5rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: inline-block;
    cursor: pointer;
    border: 2px solid $brand-color;

    &.button-primary {
        background-color: $brand-color;
        color: white;
        &:hover {
            background-color: $brand-color-dark;
            border-color: $brand-color-dark;
        }
    }

    &.button-outline {
        background-color: transparent;
        color: $brand-color;
        &:hover {
            background-color: $brand-color;
            color: white;
        }
    }

    &.button-white {
        background-color: white;
        color: $brand-color;
        border-color: white;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 700;
    color: $negro;
    margin-top: 0;
    line-height: 1.2;
}

.text-center { text-align: center; }

@media (max-width: 40rem) {
    .column {
        margin-bottom: 2rem;
    }
}
