@use "variables" as *;

.siteEmpresa {
  padding-top: 12rem;
}

.feature-list {
  margin-top: 5rem;
}

.feature-item {
  display: flex;
  margin-bottom: 6rem;
  align-items: center;

  &:nth-child(even) {
    flex-direction: row-reverse;
    .feature-text {
      padding-left: 0;
      padding-right: 5rem;
      text-align: right;
    }
  }

  .feature-image {
    flex: 1;
    img {
      border-radius: 12px;
      box-shadow: 0 15px 45px rgba(0,0,0,0.1);
    }
  }

  .feature-text {
    flex: 1;
    padding-left: 5rem;

    h3 {
      font-size: 2.8rem;
      margin-bottom: 2rem;
      color: $brand-color;
    }

    p {
      font-size: 1.6rem;
      color: $text-light;
    }
  }
}

@media (max-width: 40rem) {
  .feature-item, .feature-item:nth-child(even) {
    flex-direction: column;
    .feature-text {
      padding: 3rem 0;
      text-align: left;
    }
  }
}
